latex/ascii.png
latex/logo.png
latex/Notebook.++.aux
latex/Notebook.++.dvi
latex/Notebook.++.fdb_latexmk
latex/Notebook.++.fls
latex/Notebook.++.ilg
latex/Notebook.++.log
latex/Notebook.++.synctex.gz
latex/Notebook.++.toc
source/a.out